<!DOCTYPE html>
<html lang="en">

<body>
    {% include "barra.html" %}
    <p>Hola!!</p>
    <p>El nombre es: {{nombre}} {{apellido}}</p>
    {% if nombre == 'David' %}
    <p>El curso lo imparte el profesors</p>
    {% else %}
    <p>El curso lo imparte el profesor suplente</p>
    {% endif %}

    <p>Los temas son: </p>
    {% if temas %}
        {% for tema in temas %}
            <ul>
                <li>
                    <p>{{tema|first|lower}}</p>{#son filtros#}
                </li>
            </ul>
        {% endfor %}
    {% endif %}
</body>

</html>